<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin  |  trendView</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/public/css/admin.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>
<style>
    html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    display: flex;
}

.sidebar {
    height: 100%; /* Make sidebar full height */
    background-color: #000000; /* Change this to your desired background color */
}

.main-content {
    flex-grow: 1; /* Allow main content to take remaining space */
    padding: 20px; /* Add padding as needed */
}
</style>
<body >
  <div class="container-scroller ">
   
    

    
    <div class="container-fluid page-body-wrapper ">
      
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
           
          <div class="user-name adminName">
             Prajwal
          </div>
          <div class="user-designation">
              Admin
          </div>
        </div>
        <%- include('../partials/adminSidebar') %>
      </nav>
      
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row d-flex justify-content-center">
            <% if(message.success) {%>
              <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                <div class="flex-grow-1">
                  <strong><%= message.success %></strong> 
                </div>
                <button type="button" class="btn-close ms-2 ml-2" data-bs-dismiss="alert" aria-label="Close" style="background-color: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
              </div>
              
             <% }else if(message.error) {%>
              <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                <div class="flex-grow-1">
                  <strong><%= message.error %></strong> 
                </div>
                <button type="button" class="btn-close ms-2 ml-2" data-bs-dismiss="alert" aria-label="Close" style="background-color: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
              </div>
              <% } %> 
          </div>
          <div class="row">
         <div class="btn btn-success d-flex justify-content-end  mb-4 " ><a  href="/admin/addProduct" style="text-decoration: none; color: inherit;">Add Product</a></div>
                  
         <div class="table-responsive">

            <table class="table table-stripped table-sm">
             <thead>
               <tr>
                 <th scope="col">Product Name</th>
                 <th scope="col">Image</th>
                 <th scope="col">Catrgory</th>
                 <th scope="col">Brand</th>
                 <th scope="col">Stock</th>
                 <th scope="col">Price</th>
                 <th scope="col">Status</th>
               </tr>
             </thead>
             <tbody>
             <% products.forEach(element=>{ %>
                <tr class="align-middle">
                    <td><%=element.title %></td>
                    <td><img class="rounded-0" src="/public/product_img/<%= element.image.image1 %>" style="width: 60px; height: auto;" alt="" ></td>
                    <td><%=element.category %></td>
                    <td><%=element.brand %></td>
                    <td><%=element.stock %></td>
                    <td><%=element.price %></td>
                    <td class="text-end">
                        <div class="d-flex flex-row justify-content-start gap-2">
                          
                         <a href="/admin/product/edit/<%= element._id%>"><button type="button" class="btn btn-warning btn-small">Edit </button></a>
                          
                         <% if(element.isBlock==true) { %>
                          <a href="/admin/product/unblock/<%= element._id%>"><button type="button" class="btn btn-success btn-small ml-3">unblock </button></a>
                           
                          
                          <% } else {%>
                        
                           <a href="/admin/product/block/<%= element._id%>" ><button type="button" class="btn btn-danger btn-small ml-3">Block </button></a>
                             
                            
                           <% } %>
                          
                          <form action="/admin/product/delete/<%= element._id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-small ml-3">Delete</button>
                        </form>
                        
                            
                          
                        </div>
                       </td>
                </tr>
             <% }); %>   
              </tbody>
            </table>
     
            </div>

       </div>
       </div>
       </div>

      
      
        
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src=" /js/off-canvas.js"></script>
  <script src=" /js/hoverable-collapse.js"></script>
  <script src=" /js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src=" /vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="/js/chart.js"></script>
  <!-- End custom js for this page-->
   <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/a5e10914c4.js" crossorigin="anonymous"></script>
   <!-- End font-awesome -->
    <!-- flash  -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
