<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin  |  trendView</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/public/css/admin.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>
<style>
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-fluid {
  padding-top: 0;
  
}
body {
  padding-top: 0 !important;
   
}
.container-scroller, .page-body-wrapper {
  padding-top: 0 !important;
  margin-top: 0 !important;
   
}
.container-fluid, .page-body-wrapper, .main-panel, .content-wrapper {
  min-height: 100vh; /* Ensures full viewport height */
}
  
</style>
<body>
  <div class="container-scroller">
     
    

    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper ">
      <!-- partial:../../partials/_sidebar.html -->
      
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <!-- <div class="user-image">
            <img src="../../images/faces/face28.png">
          </div> -->
          <div class="user-name adminName">
             Prajwal
          </div>
          <div class="user-designation">
              Admin
          </div>
        </div>
         <%- include('../partials/adminSidebar') %>
      </nav>
      
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            

       <div class="table-responsive">

       <table class="table table-stripped table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col" class="pl-5">Status</th>
          </tr>
        </thead>
        <tbody>
          <% customers.forEach(element => { %>
          <tr class="align-middle">
         
           <td> <%= element.firstName %> </td>
           <td> <%= element.email %> </td>
           <td> <%= element.phone %> </td>
           <td class="text-end">
            <div class="d-flex flex-row justify-content-start gap-2">
              <% if(element.isBlock==true) { %>
             <a href="/admin/user/unblock/<%= element._id%>"><button type="button" class="btn btn-success btn-small">unblock </button></a>
              
             
             <% } else {%>
           
              <a href="/admin/user/block/<%= element._id%>" ><button type="button" class="btn btn-danger btn-small">Block </button></a>
                
               
            
              <form action="/admin/user/delete/<%= element._id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-small ml-3">Delete</button>
            </form>
            
                
              
            </div>
           </td>
          </tr>     
          <% } %>

         <% }); %>
        </tbody>
       </table>

       </div>
       </div>
       </div>
       </div>

      
      
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src=" /js/off-canvas.js"></script>
  <script src=" /js/hoverable-collapse.js"></script>
  <script src=" /js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src=" /vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="/js/chart.js"></script>
  <!-- End custom js for this page-->
   <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/a5e10914c4.js" crossorigin="anonymous"></script>
   <!-- End font-awesome -->
</body>

</html>
